<!DOCTYPE html>
<html>
<head>
  <title>PhotoShare</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <%= render_navigation %>
  <%= yield %>
</div>
<script type="text/javascript">
$(document).ready(function(){
  bridge.sendMessage(
    {
      action: 'update_navigation',
      items: <%== render_navigation(context: :mobile) %>
    }
  );
})
</script>
</body>
</html>
